---
---
<html>
  <head>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <ul class="menu_bar">
      <li><a href="/">Home</a></li>
      <li><a href="/events/">Events</a></li>
      <li><a href="/about_us/">About Us</a></li>
      <li><a href="/join_us/">Join Us</a></li>
      <li><a href="/donate/">Donate</a></li>
    </ul>

    {{ content | safe }}

    <script src = "script.js"></script>
  </body>
</html>
